= form_for @actor do |f|
  - if @actor.errors.any?
    #error_explanation
      %h3= "#{pluralize(@actor.errors.count, "error")} prohibited this actor from being saved:"
      %ul
        - @actor.errors.full_messages.each do |msg|
          %li= msg

  %div
    = f.label :name, :class => "required"
    = f.text_field :name

  %div
    = f.label :gender, :class => "required"
    - Person::GENDERS.each do |gender|
      = label gender.to_sym, gender, :class => "radio inline"
      = f.radio_button :gender, gender
  %br

  %div
    = f.label :date_of_birth_at
    = f.date_select :date_of_birth_at, :start_year => 1900

  %div
    = f.label "Movies"
    = select_tag "actor[dvd_ids]", options_for_select(Dvd.all.map { |dvd| [dvd.name, dvd.id] }, @actor.dvds.map { |actor| actor.id}), {:multiple=>true, :size=>6}

  %br
    = f.submit :class => "btn btn-primary"
