%h2 Actors
%br
= link_to 'Add a New Actor', new_actor_path

%table{:class => "table table-striped table-bordered"}
  %tr
    %th
      Name
    %th
      Born on
    %th
      Gender

    %th
      Dvd Count

    %th
      Actions

  - @actors.each do |actor|
    %tr
      %td
        =link_to(actor.name, actor_path(actor))
      %td
        =actor.date_of_birth_at.pretty_format
      %td
        =actor.gender
      %td
        =actor.dvds.length
      %td
        =link_to('Delete', actor_path(actor), :confirm => 'Are you sure?', :method => :delete)
