%h3= @actor.name
%br

%p
  %b Born on:
  = @actor.date_of_birth_at.pretty_format

%p
  %b Gender:
  = @actor.gender

%p
  %b Movies:
  %br
  =raw @actor.dvds.map(&:name).join("</br>")

= link_to 'Edit', edit_actor_path(@actor)
\|
= link_to 'Back', actors_path
