= form_for @director do |f|
  - if @director.errors.any?
    #error_explanation
      %h3= "#{pluralize(@director.errors.count, "error")} prohibited this director from being saved:"
      %ul
        - @director.errors.full_messages.each do |msg|
          %li= msg

  %div
    = f.label :name, :class => "required"
    = f.text_field :name

  %div
    = f.label :gender, :class => "required"
    - Person::GENDERS.each do |gender|
      = label gender.to_sym, gender, :class => "radio inline"
      = f.radio_button :gender, gender
  %br

  %div
    = f.label :date_of_birth_at
    = f.date_select :date_of_birth_at, :start_year => 1900

  %br
    = f.submit :class => "btn btn-primary"
