%h2 Directors
%br
= link_to 'Add a New Director', new_director_path

%table{:class => "table table-striped table-bordered"}
  %tr
    %th
      Name
    %th
      Born on
    %th
      Gender
    %th
      Dvd count
    %th
      Actions

  - @directors.each do |director|
    %tr
      %td
        =link_to(director.name, director_path(director))
      %td
        =director.date_of_birth_at.pretty_format
      %td
        =director.gender
      %td
        =director.dvds.length
      %td
        =link_to('Delete', director_path(director), :confirm => 'Are you sure?', :method => :delete)
