%h3= @director.name
%br

%p
  %b Born on:
  = @director.date_of_birth_at.pretty_format

%p
  %b Gender:
  = @director.gender

%p
  %b Movies:
  %br
  =raw @director.dvds.map(&:name).join("</br>")

= link_to 'Edit', edit_director_path(@director)
\|
= link_to 'Back', directors_path
