= form_for(@dvd) do |f|
  - if @dvd.errors.any?
    %div{:id => "error_explanation"}
      %h3 #{ pluralize(@dvd.errors.count, "error") } prohibited this dvd from being saved:

      %ul
        - @dvd.errors.full_messages.each do |msg|
          %li= msg

  %div
    = f.label :name, :class => "required"
    = f.text_field :name

  %div
    = f.label :release_date_at
    = f.date_select :release_date_at, :start_year => 1900

  %div
    = f.label :summary, :class => "required"
    = f.text_area :summary

  %div
    = f.label :asin
    = f.text_field :asin

  %div
    = f.label "director"
    = f.collection_select(:director_id, Director.all, :id, :name, :include_blank => "Choose a director")

  %div
    = f.label "actors"
    = select_tag "dvd[actor_ids]", options_for_select(Actor.all.map { |actor| [actor.name, actor.id] }, @dvd.actors.map { |actor| actor.id}), {:multiple=>true, :size=>6}

  %br
    = f.submit :class => "btn btn-primary"
