%h2 Dvds
%br
= link_to 'Add a New Dvd', new_dvd_path

%table{:class => "table table-striped table-bordered"}
  %tr
    %th
      Name
    %th
      Release Date
    %th
      Director
    %th
      Actor Count
    %th
      Summary
    %th
      Actions

  - @dvds.each do |dvd|
    %tr
      %td
        =link_to(dvd.name, dvd_path(dvd))
      %td
        =dvd.release_date_at.pretty_format
      %td
        =dvd.director.try(:name)
      %td
        =dvd.actors.length
      %td
        =truncate(dvd.summary, :length => 75)
      %td
        =raw action_links(dvd)
