%h3= @dvd.name
%br

%p
  %b Release date:
  = @dvd.release_date_at.pretty_format

%p
  %b Summary:
  = @dvd.summary

%p
  %b Asin:
  = link_to_amazon(@dvd, @dvd.asin)

%p
  %b Director:
  = @dvd.director.try(:name)

%p
  %b Actors:
  %br
  =raw @dvd.actors.map(&:name).join("</br>")

= link_to 'Edit', edit_dvd_path(@dvd)
|
= link_to 'Back', dvds_path
