%a.btn.btn-navbar{"data-toggle"=>"collapse", "data-target"=>".nav-collapse"}
= link_to "DVD Manager", root_path, :class => 'brand'
%div.nav-collapse
  %ul.nav
    %li= link_to("Dvds", dvds_url)
    %li= link_to("Actors", actors_url)
    %li= link_to("Directors", directors_url)
