= render 'layouts/header'
%body
  %div.navbar.navbar-fixed-top
    %div.navbar-inner
      .container-fluid
        = render 'layouts/navigation'
  #main{:role => "main"}
    .container
      .content
        .row
          .span12
            = render 'layouts/messages'
            = yield
        %footer
